body {
  overflow-x: hidden;
}
.slideshow-container {
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
}
.card01 {
  text-align: left;
}
#service-img {
  float: right;
}
.menu-items {
  position: relative;
  list-style: none;
  float: right;
  padding: 0.4em 1em;
}
#menu-products {
  width: 100%;
  text-align: center;
  display: block;
}
h2 {
  text-align: center;
  margin: 20px;
}
button {
  background-color: #50d7b3;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.btn-order {
  width: auto;
  background-color: #50d7b3;
  color: white;
  padding: 14px 15px;
}

button:hover {
  opacity: 0.8;
}
/* 
  form order styling and layout */

/* .row {
  display: -ms-flexbox;
  display: flex;
} */

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 10px 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 100px;
  border: 3px solid #555;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
span.price {
  float: right;
}
/* form login and signup styling and layout */
#form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup2 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup3 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup4 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}

.form-container {
  max-width: 350px;
  padding: 30px;
  background-color: lightgrey;
  opacity: 0.8px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}
.form-container .cancel-btn {
  background-color: brown;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container #btn2 {
  background-color: brown;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn2 {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn1 {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* home page styling */

h4 {
  text-align: center;
}
.icons {
  text-align: center;
  margin: 30px;
  padding: 10px;
}
.pic1:hover {
  opacity: 0.4;
}
.pic2:hover {
  opacity: 0.4;
}
.pic3:hover {
  opacity: 0.4;
}
.pic4:hover {
  opacity: 0.4;
}
.pic5:hover {
  opacity: 0.4;
}
.pic6:hover {
  opacity: 0.4;
}
.pic7:hover {
  opacity: 0.4;
}
.pic8:hover {
  opacity: 0.4;
}

/* .row {
  text-align: center;
} */
.row1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  padding: 10px;
}
.row2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  padding: 10px;
}
.row3 {
  display: grid;
  justify-content: center;
}
.card01 {
  background-image: url("../images/Livestock Feeds in Kenya - Cattle Feeds, Poultry Feeds, Pigs Feeds_files/cattle-900x400.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#footer{
  background-image: url("../images/pic9_files/pic10.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.row01{
  margin-right: -15px;
  margin-left: -15px;
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  padding: 10px;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.footer-info a, .footer-info {
  color: #fff;
