<<<<<<< HEAD
body{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -40;
}

h1{
padding-top:30px;  
text-align: center;
color:cyan;
font-weight: bolder;
}
#B1{
  text-align: center; create mode 100644 images/pig.jpg
  create mode 100644 images/poultrylogo.png
  create mode 100644 images/sausages.jpg
  rewrite index.html (84%)
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git status
 On branch wamungai
 nothing to commit, working tree clean
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git add .
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git commit -m"Make changes to the about us layout."
 [wamungai 585e0a7] Make changes to the about us layout.
  4 files changed, 131 insertions(+), 127 deletions(-)
  rewrite about.html (90%)
  create mode 100644 images/ab2.jpg
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git push origin wamungai
 Username for 'https://github.com
  font-style: italic
}
#farm {
  text-align:center;
  padding-top:10%;
  font-size: 30px; 
  background-color:blue;
  color: white;
}
.service {
  text-align: center;
}

.service h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
  color:black;
}

.service h5{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
}

.well{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
  background-color: red;
}
.flex-item.flex-item-list{
  background-color: transparent;
}
.flex-item{
  width: 100%;
  margin: 1%;
}
ul{
  padding:0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 100%;
  font-family:'Roboto Ragular';
}
#about{
  background-image: url("");
}

#para1{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  background-color: lightgray;
  font-family: 'Dancing Script', cursive;
}
#para2{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  /* background-color: lightgray; */
  font-family: 'Dancing Script', cursive;
}
#para3{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  /* background-color: lightgray; */
  font-family: 'Dancing Script', cursive;
}
#para4{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  background-color: lightgray;
  font-family: 'Dancing Script', cursive;
}
.about{
  text-align: center;
}

.jumbotron{ create mode 100644 images/pig.jpg
  create mode 100644 images/poultrylogo.png
  create mode 100644 images/sausages.jpg
  rewrite index.html (84%)
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git status
 On branch wamungai
 nothing to commit, working tree clean
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git add .
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git commit -m"Make changes to the about us layout."
 [wamungai 585e0a7] Make changes to the about us layout.
  4 files changed, 131 insertions(+), 127 deletions(-)
  rewrite about.html (90%)
  create mode 100644 images/ab2.jpg
 joyce@joyce-Lenovo-V110-15ISK:~/Desktop/NGUKU-FARM$ git push origin wamungai
 Username for 'https://github.com
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  
}
h3 {
  font-family: 'Lobster', cursive;
}
.pg1 {
  font-family: 'Lobster', cursive;
=======
body {
  overflow-x: hidden;
}
#menu-products{
  width: 100%;
  text-align: center;
  display: block;
}
ul li{
  list-style: none;
  display: inline-block;
  text-align: right;
  align-items: center;
  padding: 10px;
}
h2{
  text-align: center;
  margin: 20px;
}
button {
  background-color: #50d7b3;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.btn-order {
  width: auto;
  background-color: #50d7b3;
  color: white;
  padding: 14px 15px;
}

button:hover {
  opacity: 0.8;
}
/* 
  form order styling and layout */

.row {
  display: -ms-flexbox;
  display: flex;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 10px 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 100px;
  border: 3px solid #555;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
span.price {
  float: right;
}
/* form login and signup styling and layout */
#form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup2 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup3 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}
#form-popup4 {
  display: none;
  right: 15px;
  border: 3px solid #f1f1f1;
}

.form-container {
  max-width: 350px;
  padding: 30px;
  background-color: lightgrey;
  opacity: 0.8px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}
.form-container .cancel-btn {
  background-color: brown;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container #btn2 {
  background-color: brown;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn2 {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn1 {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* home page styling */
#Poutry-para, #Cattle-para, #Feeds-para{
  display: none;
}
h4{
  text-align: center;
}
.icons{
  text-align: center;
  margin: 30px;
  padding: 10px;
}
.pic1:hover{
  opacity: 0.4;
}
.pic2:hover{
  opacity: 0.4;
}
.pic3:hover{
  opacity: 0.4;
}
.pic4:hover{
  opacity: 0.4;
}
.pic5:hover{
  opacity: 0.4;
}
.pic6:hover{
  opacity: 0.4;
}
.pic7:hover{
  opacity: 0.4;
}
.pic8:hover{
  opacity: 0.4;
}

.row{
  text-align: center;
}
.row1{
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  padding: 10px;
}
.row2{
  display: grid;
  justify-content: center;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 10px;
  padding: 10px;
>>>>>>> master
}
#poultry{
  background-color: 
}