body{
  background-image: url('');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -40;
}

h1{
padding-top:30px;  
text-align: center;
color:cyan;
font-weight: bolder;
}
#B1{
  text-align: center;
  font-style: italic
}
#farm {
  text-align:center;
  padding-top:10%;
  font-size: 30px; 
  background-color:blue;
  color: white;
}
.service {
  text-align: center;
}

.service h1{
  padding: 4% 0% 1% 0%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size:28px;
  color:black;
}

.service h5{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
}

.well{
  padding: 4% 0% 1% 0%;
  text-transform: uppercase;
  font-weight: 600;
  font-size:16px;
  color:black;
  background-color: red;
}
.flex-item.flex-item-list{
  background-color: transparent;
}
.flex-item{
  width: 100%;
  margin: 1%;
}
ul{
  padding:0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 100%;
  font-family:'Roboto Ragular';
}
#about{
  background-image: url("");
}

#para1{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  background-color: lightgray;
}
#para2{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  /* background-color: lightgray; */
}
#para3{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  /* background-color: lightgray; */
}
#para4{
  color: black;
  text-transform: capitalize;
  font-size:15px;
  padding: 3%;
  background-color: lightgray;
}

.jumbotron{
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  
}